
<h1 style="text-align: center;">讨论区</h1>
<p class="note note-danger">禁止发布垃圾内容，任何违反法律和规定的留言都将会被举报！</p>

<div style="border: 2px solid;">
    <script src="https://utteranc.es/client.js" repo="wwhai/blog_community" issue-term="title" label="[blog_community]"
        theme="github-light" crossorigin="anonymous" async>
    </script>
</div>
<p class="note note-success">本插件基于 github issue，在国内访问速度可能比较慢，如果上方是空白，需要等待一会儿(可能失败，10s以内没结果，多刷新几次)</p>
