<div class="alert alert-success" role="alert">
    <marquee behavior="behavior" loop="10">
        🔴 🟠 🟡 🟢 🔵 🟣 ⚫️ ⚪️ 🟤 ('_>')自由开放知识实验室成立了，欢迎大家投稿 ~~~~~~~
    </marquee>
</div>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="/img/open-lab-logo.png" width="200" height="30" class="d-inline-block align-top" alt=""
            loading="lazy">
    </a>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/openlab/academic.html">开放论文</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/openlab/project.html">开放项目</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/openlab/openrule.html">收录规则</a>
        </li>

    </ul>
</nav>

<div class="row-fluid">
    <div class="span12">
        <div class="jumbotron">
            <h1>
                FREE-OPEN-LAB
            </h1>
            <h2>
                <a href="#">自由开放知识实验室</a>
            </h2>
            <p>
                <strong>这个项目旨在组织各位在工作的朋友做学术或者工程类的课题研究。</strong>
            </p>
            <p>
                相信大部分在职的朋友都是要么无聊或者要么工作比较枯燥单一，找不到自己的兴趣点。为了让在某个领域内有兴趣的职场人，在业余时间发挥自己的专业技能价值，我和朋友发起这个LAB计划，如果你对某一件事情感兴趣或者有自己的深入研究，都可以加入我们一起写一些小论文。
            </p>
            <p>
                领域不做限制，你可以研究计算机，数学，物理学，甚至可以研究中医，性爱学，或者苏格拉底式关系学，只要是具有学术价值，但是不违反社会主义核心价值观的研究，我们都会做收录。比如你可以研究一些没卵用但是很有趣的东西，做学术界的“手工耿”。
                欢迎各位不同领域内有新奇想法的小伙伴加入，一起学习进步。
            </p>
        </div>
    </div>
</div>